html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.app {
    padding-top: 10rem;
}

@media only screen and (max-height: 800px) {
    .app {
        padding-top: 6rem;
    }
}

.page-title-container {
    width: 100%;
    display: grid;
    place-items: center;
}

.page-title {
    font-size: 4.3rem;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.page-title::after {
    content: "";
    position: absolute;
    background-color: gray;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    height: 3px;
}

.signed-in-as {
    display: inline-block;
    position: fixed;
    top: 4rem;
    left: 4rem;
    color: #444;
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 1px;
}

@media only screen and (max-width: 800px) {
    .signed-in-as {
        top: 2.6rem;
        left: 3rem;
    }
}

@media only screen and (max-width: 440px) {
    .signed-in-as {
        left: 1rem;
    }
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-in {
    position: absolute;
    left: 50%;
    top: calc(45vh + 10rem);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem 2.8rem;
    background-color: #eeeeee;
    border-radius: 1.5rem;
    border: 3px solid #ccc;
    transition: all 0.15s;
    box-shadow: 0px 3px 12px 4px rgba(0, 0, 0, 0.07);
}

.sign-in__error-message {
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: rgb(240, 0, 0);
    font-weight: 400;
    white-space: nowrap;
    transition: all 0s;
}

.sign-in > *:not(:last-child) {
    margin-bottom: 1.4rem;
}

.sign-in__title {
    font-size: 1.9rem;
    color: #222;
    font-weight: 400;
    letter-spacing: 1px;
}

.sign-in-with-email-text {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-top: 1.3rem;
}

.sign-in__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sign-in__form > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.sign-in__form-input,
.sign-up__form-input {
    min-width: 25rem;
    background-color: #b8b8b8;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    color: #111;
    font-size: 1.5rem;
}

.sign-in__form-button,
.sign-up__form-button {
    color: #fff;
    background-color: #333;
    border: none;
    outline: none;
    padding: 1.2rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.45rem;
}

.sign-in__form-button:hover,
.sign-up__form-button:hover {
    text-decoration: underline;
}

.sign-up-link {
    font-size: 1.3rem;
}

.sign-up-link__btn {
    background-color: inherit;
    border: none;
    outline: none;
    color: #333388;
}

.sign-up-link__btn:hover {
    text-decoration: underline;
}

.button--sign-in-google {
    color: white;
    font-size: 1.7rem;
    height: 4.5rem;
    background: linear-gradient(to right, #dfdfdf, #dfdfdf 4.5rem, blue 4.5rem, blue 100%);
    padding-right: 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    transition: all 0.15s;
}

.button--sign-in-google:hover {
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);
}

.button--sign-in-google img {
    height: 3.8rem;
    width: 3.8rem;
    margin-left: 0.4rem;
    margin-right: 1.5rem;
}

.button--sign-out {
    color: rgb(0, 110, 255);
    position: absolute;
    right: 4rem;
    top: 2rem;
    font-size: 2.2rem;
    letter-spacing: 1px;
    padding: 1rem;
    background-color: transparent;
}

@media only screen and (max-height: 800px) {
    .button--sign-out {
        top: 1.5rem;
        right: 2rem;
    }
}

@media only screen and (max-width: 440px) {
    .button--sign-out {
        right: 0.7rem;
    }
}

.main-wrapper {
    position: relative;
    width: calc(200px + 40vw);
    margin: 3rem 0 7rem calc((100vw - (200px + 40vw)) / 2);
}

.channel {
    width: 100%;
    display: inline-block;
    height: calc(100vh - 27rem);
    margin-top: 1rem;
    left: 50vw;
    bottom: 0;
    overflow-y: scroll;
}

@media only screen and (max-height: 800px) {
    .channel {
        height: calc(100vh - 22rem);
    }
}

@media only screen and (max-height: 600px) {
    .channel {
        height: calc(100vh - 20.5rem);
    }
}

.channel__form {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}

.channel__input {
    width: 100%;
    color: white;
    background-color: #555;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.3rem;
    font-size: 2rem;
}

.channel__input::placeholder {
    color: #999;
}

.message {
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.6rem;
    transition: all 0.1s;
    position: relative;
    min-height: 5.4rem;
}

.message:hover {
    background-color: #f7f7f7;
}

.message__top-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;
}

.message__image-container {
    height: 4rem;
    width: 4rem;
    border-radius: 9999rem;
    overflow: hidden;
    float: left;
    margin-right: 1rem;
}

.message__image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.message__username {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: calc(2 / 1.9);
    margin-right: 0.3rem;
}

.message__date {
    color: #555;
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-block;
    transform: translateY(-0.1rem);
}

.message__text {
    font-size: 1.5rem;
    line-height: calc(2 / 1.5);
    width: 100%;
    word-wrap: break-word;
}

.message__buttons {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
}

.message__button {
    border-radius: 0.4rem;
    padding: 0.1rem 0.6rem;
    font-size: 1.4rem;
    border: 1px solid #bbb;
    outline: none;
    transition: background-color 0.1s;
}

.message__button:hover {
    background-color: #dddddd;
}

.message__button:active {
    transform: translateY(1px);
}

.message__edit {
    margin-right: 0.4rem;
    color: #444;
}

@media only screen and (max-width: 400px) {
    .message__edit {
        margin-right: 0.1rem;
    }
    .message__username {
        margin-right: 0.1rem;
    }
}

.message__delete {
    color: red;
}

.sign-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 1.7rem 2.8rem;
    background-color: #eeeeee;
    border-radius: 1.5rem;
    border: 3px solid #ccc;
    transition: all 0.15s;
    box-shadow: 0px 3px 12px 4px rgba(0, 0, 0, 0.07);
}

.sign-up__title {
    font-size: 1.9rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 1.4rem;
}

.sign-up__form {
    display: flex;
    flex-direction: column;
}

.sign-up__form > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.sign-up-link {
    text-align: center;
    margin-top: 1.4rem;
}

.message__edit-input {
    position: absolute;
    left: 5.5rem;
    top: 3.2rem;
    width: calc(100% - 5.5rem);
    color: white;
    background-color: #555;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.3rem;
    font-size: 2rem;
}
