html {
    font-size: 62.5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.app {
    padding-top: 10rem;
}

.page-title-container {
    width: 100%;
    display: grid;
    place-items: center;
}

.page-title {
    font-size: 4.3rem;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

.page-title::after {
    content: "";
    position: absolute;
    background-color: gray;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    height: 3px;
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
}

.sign-in {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem 2.8rem;
    background-color: #eeeeee;
    border-radius: 1.5rem;
    border: 3px solid #ccc;
    transition: all 0.15s;
    box-shadow: 0px 3px 12px 4px rgba(0, 0, 0, 0.07);
}

.sign-in > *:not(:last-child) {
    margin-bottom: 1.4rem;
}

/* .sign-in:hover {
    background-color: #e1e1e1;
    box-shadow: 0px 4px 16px 6px rgba(0, 0, 0, 0.1);
} */

/* .sign-in::after {

} */

.sign-in__title {
    font-size: 1.9rem;
    color: #222;
    font-weight: 400;
    letter-spacing: 1px;
}

.button--sign-in-google {
    color: white;
    font-size: 1.7rem;
    height: 5rem;
    background: linear-gradient(to right, #dfdfdf, #dfdfdf 5rem, blue 5rem, blue 100%);
    padding-right: 1rem;
    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    transition: all 0.15s;
}

.button--sign-in-google:hover {
    box-shadow: 0px 3px 15px 5px rgba(0, 0, 0, 0.1);
}

.button--sign-in-google img {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

.button--sign-out {
    color: rgb(0, 110, 255);
    position: absolute;
    right: 4rem;
    top: 4rem;
    font-size: 2.2rem;
    letter-spacing: 1px;
    padding: 1rem;
    background-color: transparent;
}

.main-wrapper {
    position: relative;
    width: 75%;
    margin: 3rem 0 7rem 12.5vw;
}

.channel {
    width: 75vw;
    display: inline-block;
    height: calc(100vh - 26rem);
    left: 50vw;
    bottom: 0;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

.channel__form {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
}

.channel__input {
    width: 100%;
    color: white;
    background-color: #555;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.3rem;
    font-size: 2rem;
}

.channel__input::placeholder {
    color: #999;
}

.message {
    width: 100%;
    padding: 0.7rem;
}

.message__top-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.1rem;
}

.message__image-container {
    height: 4rem;
    width: 4rem;
    border-radius: 9999rem;
    overflow: hidden;
    float: left;
    margin-right: 1rem;
}

.message__image {
    /* display: inline-block; */
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.message__username {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: calc(2 / 1.9);
    margin-right: 0.3rem;
}

.message__date {
    color: #555;
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-block;
    transform: translateY(-0.1rem);
}

.message__text {
    font-size: 1.5rem;
    line-height: calc(2 / 1.5);
    width: 100%;
    word-wrap: break-word;
}
